<html>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/staticFiles/main.css' />
  <head>
    <title>Papayaverse Demo</title>
  </head>
  <body>
    <h1> PAPAYAVERSE Demo </h1>
    {% if name %}
    <h2>Welcome, {{name}}!</h2>
    <p>
    <a href="/wallet" class = "button" id="qsWalletBtn">Go To Wallet</a>
    <a href="/avatar" class = "button" id="qsAvatarBtn">Go To Avatar</a>
    <a href="/avatarcreator" class = "button" id="qsAvatarCreatorBtn">Go To Avatar Creator</a> 
    </p>
    {% else %}
    <h2>Welcome, Guest</h2>
    <p><a href="/login" class = "button" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html>