<html>
  <head>
    <meta charset="utf-8" />
    <title>Papaya Demo Ver 1</title>
  </head>
  <body>
    <h1>Please Log In With Solid Community Credentials</h1>
    <h2>If you do not have an account you can create one <a href="https://solidcommunity.net/">here</a> </h2>
    <form action="action_page.php" method="post">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
  </body>
</html>