<html>
  <head>
    <meta charset="utf-8" />
    <title>Papaya Demo</title>
  </head>
  <body>
    <h1>Welcome {{name}} to your Wallet!</h1>
    {% if error %}
    <h2> {{ error }} </h2>
    {% else %}
        {% if new_wallet %}
        <h2> Created New Wallet For You </h2>
        {% endif %}
    <h2> Balance is {{ balance }} AVAX </h2>
    <p><a href="/wallet/txn" id="txnButton">Make a Transaction</a></p>
    <p><a href="/wallet/nfts" id="nftButton">View NFTs</a></p>
    {% endif %}
  </body>
</html>