<html>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/staticFiles/main.css' />
  <head>
    <meta charset="utf-8" />
    <title>Papayaverse Demo</title>
  </head>
  <body>
    <h1> PAPAYAVERSE Demo </h1>
    <h1>Please Log In With Solid Community Credentials</h1>
    <h2>If you do not have an account you can create one <a href="https://solidcommunity.net/">here</a> </h2>
    <form action="" method="post">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
    {% if error %}
    <h2> {{ error }} </h2>
    {% endif %}
  </body>
</html>